on:
  push:
    branches:
      - main
  pull_request:

name: CI

env:
  RUSTFLAGS: -Dwarnings

jobs:
  check:
    runs-on: ubuntu-latest
    working-directory: jjb
    steps:
      - uses: actions/checkout@v6
      - uses: Swatinem/rust-cache@v2
      - run: |
          cargo fmt -- --check
          cargo check
          cargo clippy
          cargo test
